In [62]:
import os, sys, json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [63]:
prefix = "../res_patch_size/"
name = []
keys = []
checks = []
splits = []
oas = []
max_oas = []
for s in os.listdir(prefix):
    # print(s)
    if 'json' in s[-20:]:
        ll = s.split('_')
        # print(ll)
        name.append(ll[0])
        if "tranbase" in s and len(ll)==6:
            # print(s)
            keys.append("".join(ll[2:4]))
            splits.append(ll[4])
        else:
            keys.append(ll[2])
            splits.append(ll[3])
        checks.append(len(ll[2].split('-'))==4)
        jj = json.loads(open("%s/%s" %(prefix, s)).read())
        oa = jj['eval']['oa']
        oas.append(oa)
        if 'max_oa' in jj:
            max_oas.append(jj['max_oa']['value'][-1])
        else:
            max_oas.append(-1)


dd = {
    "data": name,
    "key": keys,
    "check": checks,
    "split": splits,
    "oa": oas,
    "max_oa": max_oas
}
df = pd.DataFrame(dd)

KeyError: 'max_oa'

In [ ]:
# df = df[df['check']]
df = df[['data', 'key', 'split', 'oa', 'max_oa']]

In [ ]:
df

        data                 key    split         oa     max_oa
0         WH   patch-p21-21-True  split-2  90.773741  90.773741
1      pavia    tranbasevitFalse  split-0  92.993019  93.667713
2      pavia   patch-p17-13-True  split-1  93.299911  93.299911
3     indian     tranbasevitTrue  split-0  82.842700  82.842700
4      pavia   patch-p25-13-True  split-2  87.063674  88.258445
...      ...                 ...      ...        ...        ...
1342  indian   patch-p21-17-True  split-2  85.776588  86.301913
1343      WH    patch-p17-9-True  split-1  88.058674  88.886675
1344  indian  patch-p21-13-False  split-0  81.544256  81.544256
1345  indian    patch-p21-9-True  split-0  82.555258  83.387848
1346   pavia    patch-p9-9-False  split-3  85.512815  90.177107

[1347 rows x 5 columns]

In [ ]:
df[['data', 'key', 'oa', 'max_oa']].groupby(by=['data', 'key']).mean().sort_values(['data', 'key']).to_csv('./res_group.csv')

In [ ]:
df.groupby(['data', 'key', 'split']).mean().sort_values(['data', 'key', 'split']).to_csv('./res.csv')

In [ ]:
df.sort_values(['data', 'key', 'split']).to_csv('./res_all.csv')

In [ ]:
df[['data', 'split', 'oa']].groupby(['data',  'split']).mean()

                       oa
data   split
WH     split-0  88.252349
       split-1  87.615560
       split-2  88.751793
       split-3  88.609750
       split-4  89.393407
indian 0json    85.727029
       1json    85.409852
       2json    83.179701
       3json    85.261176
       4json    84.973734
       split-0  82.301739
       split-1  86.782378
       split-2  86.062651
       split-3  85.481182
       split-4  88.936943
pavia  0json    90.954880
       1json    90.162270
       2json    91.870090
       3json    91.443721
       4json    90.909588
       split-0  92.013189
       split-1  90.400342
       split-2  87.241016
       split-3  93.189731
       split-4  92.949337